html,
body,
div,
.container{
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
}
#desktopWrapper{
  display: block;
}
#mobileWrapper{
  display: none;
}
.yellow{
  background-color: yellow;
  height: 50%;
}
.yellow iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.red{
  background-color: red;
  height: 50%;
}
.blue{
  background-color: blue;
  height: 100%;
}
div:focus {
  background-color:green;
}


/* ----- Media queries ----- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px){

  #desktopWrapper{
    display: none;
  }
  #mobileWrapper{
    display: block;
  }
  ul > li{
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
  }
  .yellow{
  background-color: orange;
  height: 100%;
  }
  .red{
    background-color: red;
    height: 100%;
  }


/* ----- MENU TABS ----- */
  .nav-pills > li > a{
    border-radius: 0 !important;
    color: #fff !important;
  }
  .nav>li>a:link{
    background-color: #475F6D !important;
  }
  .nav>li>a:hover{
    background-color: #1c313e !important;
  }
  .nav-pills>li.active>a, 
  .nav-pills>li.active>a:focus, 
  .nav-pills>li.active>a:hover{
    background-color: #1c313e !important;
  }















/*
  .overlay {
    top: 0;
    left: 0;
    position: absolute;
    width: 600px;
    height: 600px;
    background: -moz-radial-gradient(transparent 150px, rgba(0,0,0,1) 150px);
    background: -webkit-radial-gradient(transparent 150px, rgba(0,0,0,1) 150px);
    background: -ms-radial-gradient(transparent 150px, rgba(0,0,0,1) 150px);
    background: -o-radial-gradient(transparent 150px, rgba(0,0,0,1) 150px);
    pointer-events: none; /* send mouse events beneath this layer */
  
}

























